.contact {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #c0ff0d;
}

/* introContact */
.content .title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "grotesk", sans-serif;
  line-height: 1.1;
}

.introContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.textTop .title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "grotesk", sans-serif;
  line-height: 1.1;
  color: #171717;
}

.textTop sup {
  font-size: 1.2rem;
  font-weight: 400;
  color: #171717;
  font-family: "grotesk", sans-serif;
  vertical-align: text-top;
  margin-left: 0.5rem;
}

.status {
  color: #171717;
  font-family: "sans", sans-serif;
  letter-spacing: -0.01rem;
  display: flex;
  align-items: center;
}

.bouncingDot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #171717;
  border-radius: 50%;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1;
}

.bouncingDot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.3rem;
  height: 1.3rem;
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: pulse 1.5s ease-in-out infinite;
  z-index: -1;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* Reach Us Contact */
.reachOut {
  height: 65vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10rem;
}

.mail {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mail h4 {
  font-family: "sans", sans-serif;
  color: #171717;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.mail .local {
  font-family: "mon", sans-serif;
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}

.mailLink h1 {
  font-family: "grotesk", sans-serif;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}

.mailLink h1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 0;
}

.mailLink h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #17171728;
  bottom: 0;
  left: 0;
  border-radius: 5rem;
}

.mailLink h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #171717;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  border-radius: 5rem;
  z-index: 2;
}

.mailLink h1:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.formText {
  width: 70%;
}

.formText h1 {
  font-family: "mon", sans-serif;
  font-size: 3.5rem;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

/* Contact Form */
.contactForm {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 11rem;
  padding: 6rem 0;
}

.lists {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lists h4 {
  font-family: "sans", sans-serif;
  color: #171717;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.lists ul li a {
  color: #171717;
  font-family: "mon", sans-serif;
  letter-spacing: -0.025rem;
  font-size: 1rem;
}

.formField {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.formLabel {
  width: 100%;
}

.formLabel h1 {
  font-family: "sans", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #171717;
}
