.gridServices {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  /* gap: 1rem; */
  width: 100%;
}

.accordion {
  /* padding: 1rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e0e0e0;
}

.headerButton {
  width: 100%;
  border: 0;
  background: transparent;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.header h2 {
  font-family: "mon", sans-serif;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: -0.035rem;
  color: #f1f1f1;
}

.lottie {
  width: 10rem;
  height: auto;
}

/*  */
.options {
  display: flex;
  flex-direction: column;
  /* padding: 1rem;/ */
  /* padding-top: 1rem; */
  overflow: hidden;
}

.opHidden {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  overflow: hidden;
}

.opHidden h2 {
  font-family: "mon", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #fff;
  line-height: normal;
}

.opHidden .line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  margin: 1.5rem 0;
}

.opHidden:last-child .line {
  display: none;
}

.opHidden:last-chilagd h2 {
  padding-bottom: 2rem;
}
