.a {
  position: relative;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  font-family: "mon", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: currentColor;
}
